
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding:0;
    margin:0;
}

body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}
a,.btn{
    transition: all 0.4s ease;
}
#desktop_nav
{
margin-top:1.5rem ;
margin-right:1rem ;
}
nav,.nav-links{
    display:flex;
   /* justify-content:space-around;*/
}
nav{
    justify-content:space-around;
    align-items:center;
    

}
.nav-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
    
}
a{
    color:black;
    text-decoration: none;
    text-decoration-color:white ;
}
a:hover{
    color:grey;
    text-decoration: underline;
    text-decoration-color:rgb(181,181,181) ;
    text-underline-offset: 12px;
}

.logo{
    font-size: 2.2rem;
}
.logo:hover{
    cursor:default;
}